.main_banner {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.main_banner_content {
  background-color: #ffbb33;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 40px;
}

.main_banner_button {
  text-decoration: none;
  background-color: #ffbb33;
  border-radius: 10px;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: 60px;
}

p {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: left;
  font-size: 30px;
}

.main_banner_image {
  width: 50%;
}

.main_banner_image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .main_banner_content {
    padding: 20px;
    width: 100%;
  }
  .main_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 0;
  }
  .main_banner h1 {
    font-size: 20px;
  }
  .main_banner p {
    font-size: 15px;
  }
  .main_banner_image {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}
