.footer {
  min-height: 80px;
  background-color: #222;
  border-top: 4px solid #111;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.footer p {
  font-size: 20px;
  color: #fcba03;
}

@media (max-width: 768px) {
  .footer {
    height: 60px;
    font-size: 12px;
    padding: 10px;
  }
  .footer p {
    font-size: 12px;
  }
}
