.layout {
  display: flex;
  height: 100vh;
  background: #141414;
  color: white;
  font-family: Poppins, sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #1c1c1c;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid #2b2b2b;
}

.logo {
  color: #e63946;
  margin-bottom: 40px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* BOTÕES MENU */
.menu a {
  text-decoration: none;
  color: #ddd;
  padding: 12px;
  border-radius: 8px;
  transition: 0.2s;
  font-size: 15px;
}

.menu a:hover {
  background: #2b2b2b;
  color: white;
}

/* página ativa (MAGIA DO NavLink) */
.active {
  background: #e63946;
  color: white !important;
}

/* LOGOUT */
.logout {
  margin-top: auto;
  background: #e63946;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.logout:hover {
  background: #c1121f;
}

/* CONTEÚDO */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px 30px;
  border-bottom: 1px solid #2b2b2b;
  background: #1a1a1a;
}

.page {
  padding: 25px;
  overflow-y: auto;
}
